.admin-navbar {
  width: 100%;
  height: 70px;
  background: #ecfdf5; /* Light green background */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* Left Section */
.admin-navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vegore-title {
  font-size: 20px;
  font-weight: 700;
  color: #15803d; /* text-green-700 */
}

.admin-icon {
  font-size: 28px;
  color: #22c55e; /* light green */
}

/* Right Section */
.admin-navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icon {
  font-size: 20px;
  cursor: pointer;
  color: #15803d; /* text-green-700 */
  transition: 0.3s;
}

.nav-icon:hover {
  color: #16a34a;
}

.logout:hover {
  color: red;
}

/* Admin Profile */
.admin-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #d1fae5; /* soft green */
  padding: 6px 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.admin-profile:hover {
  background-color: #a7f3d0;
}

.admin-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #22c55e;
}

.admin-name {
  font-weight: 600;
  color: #15803d; /* text-green-700 */
}
