@font-face {
  font-family: "Okra";
  src: url("/fonts/Okra-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Okra";
  src: url("/fonts/Okra-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Apply Okra everywhere */
body {
  font-family: "Okra", sans-serif;
  /* background-color: #f7fff9; */
}

@import "tailwindcss";
